<h1>Hello <%= @student.first_name %>!</h1>

<h2> Welcome to our platform. We're excited to have you with us.</h2>
<h3>Welcomt to our platform! I hope you enjoy our services</h3>

<p>
    Best regards,<br>
    The Team
  </p>  